<h1 class ="jumbotron">Recipe for <span class='name'><%= @recipe.name %></span></h1>
<p>
<%= @recipe.text %>
<% if !@recipe.average_rating.nan? %>
  <br><br>User Rating: <%= sprintf("%0.1f", @recipe.average_rating) %>✰.
<% else %>
  <br><br>No User Ratings Yet!
<% end %>
<br>Tags: <span class="name">
<% @recipe.tags.each do |tag| %>
  <a href="/tags/<%= tag.id %>"><%= tag.name %>, </a>
<% end %>
</span>
</p>

<p><form action="/classifications/" method="post">
  <input name="recipe_id" type="hidden" value="<%= @recipe.id %>">
  <select id="tag_id" name="tag_id">
    <% Tag.all.order(:name).each do |tag| %>
      <option value = "<%= tag.id %>"><%= tag.name %></option>
    <% end %>
  </select>
  <br><button>Add Tag to Recipe</button>
</form></p>

<p><form action="/ratings/" method = "post">
  <input name="recipe_id" type="hidden" value="<%= @recipe.id %>">
  <select id="rating" name="rating">
    <option value = 1>✰</option>
    <option value = 2>✰✰</option>
    <option value = 3>✰✰✰</option>
    <option value = 4>✰✰✰✰</option>
    <option value = 5>✰✰✰✰✰</option>
  </select>
  <br><button>Rate This Recipe!</button>
</form></p>

<p><a href='/recipes/<%= @recipe.id %>/edit' class='navigation'>Adjust this recipe accordingly!</a>
<br><a href='/recipes/<%= @recipe.id %>' class='navigation'
      data-confirm="Are you sure you want to banish this recipe from the Cookbook forever?"
      data-method="delete"
      rel="nofollow">Delete <%= @recipe.name %></a>
<br><a href="/recipes/">Return to the Cookbook Index</a></p>
